@model List<POS.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>

<p>
    <a asp-action="Create" style="margin-right:5%">Create New</a>
    <a asp-controller="Products" asp-action="Items">Items</a>
</p>
@if (ViewBag.ErrorMessage != null)
{
	<p>@ViewBag.ErrorMessage</p>
}
@{
    var text= TempData["Error"] as string;
    if (text != null)
    {
        <p style="color:red">@text</p>
    }
}
@if (Model==null||!Model.Any())
{
	<p>There are no invoices</p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>
                Number
            </th>
            <th>
                Date
            </th>
            <th>
                Value
            </th>
            <th>
                Client
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Name)
            </td>
                <td>
					@foreach (var product in item.Products)
					{

					<td>@product.Name</td>
                    <td>@product.Price</td>

				}
				</td> 
               
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
           
        }
    </tbody>
</table>
}

